body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.overall {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.free-gift {
  background-color: #ffb8ef;
  color: #783d75;
  border: #e7aada 1px solid;
  position: absolute;
  padding: 5px;
  width: 100px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(10deg);
  right: 400px;
}

.main-container {
  display: flex;
  border: lightgray 1px solid;
  border-radius: 5px;
  max-width: 900px;
  max-height: 300px;
}

.content {
  margin-left: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 400px;
}

.title {
  color: green;
}

.message {
  color: darkgrey;
}

.total {
  color: grey;
  font-weight: 600;
  margin: 20px 20px 40px 0;
}

.details-button,
.delivery-button {
  border: none;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: green 1px solid;
  text-transform: uppercase;
}
.details-button {
  background-color: green;
  color: white;
  margin-right: 20px;
}

.delivery-button {
  background-color: white;
  color: green;
}
